@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.heading__one {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #273c75;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.heading__two {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #273c75;
  text-align: center;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 0.6rem;
  width: 90%;
  min-height: 50vh;
  background-color: #f5f6fa;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 15px #2f3640;
          box-shadow: 0 0 15px #2f3640;
}

.settings__left {
  width: 50%;
  padding: 0.8rem 0.6rem;
  border-right: 0.2rem solid #4cd137;
}

.settings__right {
  width: 50%;
  padding: 0.8rem 0.6rem;
}

.settings__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 4rem;
}

.settings__rules {
  margin-top: 5rem;
  height: 80%;
}

.settings__list {
  list-style: none;
}

.settings__item {
  margin: 0.5rem 0;
  padding: 0.2rem 0.4rem;
  font-size: 1.4rem;
  color: #44bd32;
}

.game {
  padding: 0.8rem 0.6rem;
  width: 90%;
  min-height: 50vh;
  background-color: #f5f6fa;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 15px #2f3640;
          box-shadow: 0 0 15px #2f3640;
}

.game__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto 1rem;
  padding: 1rem 0;
  width: 30%;
  background-color: #dcdde1;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
}

.game__number-one {
  padding-right: 2rem;
  color: #141f3c;
}

.game__number-two {
  padding-left: 2rem;
  color: #141f3c;
}

.game__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__answer p {
  font-size: 2rem;
  margin-right: 1rem;
  color: #273c75;
}

.game__answer input {
  padding: 0.2rem 0.5rem;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  font-size: 2rem;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.game__answer input:focus {
  border: 2px solid #2f3640;
}

.game__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4rem;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

.game__stats-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.game__stats p {
  padding-right: 2rem;
}

.game__stats p.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game__time {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #44bd32;
}

.game__time span {
  color: black;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 0.6rem;
  width: 90%;
  min-height: 50vh;
  background-color: #f5f6fa;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 15px #2f3640;
          box-shadow: 0 0 15px #2f3640;
}

.btn {
  width: 30%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  background-color: transparent;
  border: 0.1rem solid #2f3640;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn-blue {
  background-color: #273c75;
  color: #f5f6fa;
}

.btn:hover {
  background-color: #2f3640;
  border: 0.1rem solid #dcdde1;
  -webkit-box-shadow: 0 0 10px #2f3640;
          box-shadow: 0 0 10px #2f3640;
  color: #f5f6fa;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  background-color: #dcdde1;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */