@import '../abstract/variables';

.btn {
  width: 30%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  background-color: transparent;
  border: 0.1rem solid $mainBlack;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  &-blue {
    background-color: $mainBlue;
    color: $mainWhite;
  }
  &:hover {
    background-color: $mainBlack;
    border: 0.1rem solid $mainGrey;
    box-shadow: 0 0 10px $mainBlack;
    color: $mainWhite;
  }
}
